@use "primarios" as*;
@use "mixing" as*;


/* Página Sobre Nosotros --------------------------------------------------------------------*/

/*Titulo*/

.nosotros_titulo {
    @include flex (row, center, center);
    @include section_wh(100%, auto);
    padding: 4% 5%;
}

.nosotros_banner {
    width: 100%;
}

.integrantes_titulo {
    padding: 4% 10% 0% 10%;
    text-align: left;
}



.grilla_de_integrantes {
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 2% 10%;

    .card_integrante {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-top: 2% 5% 2% 0%;

        .integrantes_fotos {
            @include section_wh(250px, auto);
            object-fit: contain;
            margin: 15px 0px;
            border-radius: 3px;
        }

        .integrantes_contenido {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5% 10% 5% 2%;

            .integrantes_p {
                font-size: 1.8rem;
            }

            .integrantes_icono {
                @include section_wh(25px, auto);
                object-fit: contain;
            }
        }
    }
}

/*Nuestra Historia*/




.nosotros_historia {
    @include section($gris, 100%, auto);
    background: #E3E3E3B5;
    /*Gradiente*/
    background: linear-gradient(180deg, rgba(227, 227, 227, 1) 0%, rgba(251, 251, 251, 1) 78%);
    padding: 2% 10% 4% 10%;

    .historia_titulo {
        padding: 4% 0%;
        text-align: left;
        margin: 0px;
    }

    .nosotros_historia_1 {
        @include flex (row, space-between, center);
        padding: 3% 0%;

        .contenido_integrantes_1 {
            @include section_wh (50%, auto);
            @include flex (column, space-between, center);
            padding: 4% 6% 4% 0%;
        }

        .foto_integrantes_1 {
            @include section_wh (50%, auto);

            .foto_integrantes_detalle_1 {
                @include section_wh (100%, auto);
                object-fit: contain;
                border-radius: 10px;
            }
        }
    }

    .nosotros_historia_2 {
        @extend .nosotros_historia_1;

        .contenido_integrantes_2 {
            @extend .contenido_integrantes_1;
            padding: 4% 0% 4% 6%;
        }

        .foto_integrantes_2 {
            @extend .foto_integrantes_1;

            .foto_integrantes_detalle_2 {
                @extend .foto_integrantes_detalle_1;
            }
        }
    }
}

/*Newsletter*/

.nosotros_newsletter {
    @include section_wh (100%, 350px);
    @include flex (column, space-evenly, center);
    padding: 4% 10%;
    text-align: center;

    #mail {
        @include section_wh (40%, auto);
        margin: 2% 10% 2% 10%;
        padding: 5px;
        border: 1px solid $oscuro;
        border-radius: 6px;
        background: $claro;
        color: $oscuro;
    }
}