@use "primarios" as*;
@use "mixing" as*;

/*Adaptado a tablet 481<720 ---------------------------------------*/

@media (min-width: 481px) and (max-width: 790px) {

    /*General*/
    body {

        h1 {
            text-align: center;
            font-size: 3.3rem;
        }

        h2 {
            font-size: 2.6rem;
        }

        h3 {
            font-size: 2.2rem;
        }

        h4 {
            font-size: 2.1rem;
        }

        h5 {
            font-size: 2rem;
        }

        h6 {
            font-size: 1.9rem;
        }

        p {
            font-size: 1.6rem;
        }

    }

    /*Header*/
    header {
        height: 70px;
        justify-content: center;

        a {
            font-size: 1.8rem;
            margin: 0px 0px;

            .logo {
                width: 50px;
                padding: 0px;
                margin: 0px 15px;
            }
        }

        nav {
            @include flex (row, space-around, center);
            width: 100%;

            ul {
                @include flex (row, space-around, center);

                width: 100%;
                margin: 0px;
                padding: 0px;
                text-align: center;

                li {
                    text-align: center;
                    font-weight: 300;

                    a {
                        white-space: nowrap;
                    }
                }

                .dis_none {
                    display: none;
                }
            }
        }
    }

    /*Página index/HOME ----------*/
    /*Presentacion*/
    .home_presentacion {
        padding: 5% 8%;

        .boton {
            margin: 5px 0px;
            font-size: 1.8rem;
        }
    }

    /*Nuevo EP*/
    .home_ep {
        grid-template-areas:
            "titulo"
            "imagen"
            "subtitulo"
            "texto1"
            "texto2"
            "botones";
        grid-template-columns: 100%;
        grid-template-rows: auto;
        padding: 5% 8%;

        .ep_imagen {
            padding: 10px 0px 10px 0px;
        }

        .ep_botones {
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;

            .ep_boton_sf {
                margin: 5px 10px 5px 0px;
                text-align: center;
                font-size: 1.7rem;
            }

            .ep_boton_yt {
                font-size: 1.7rem;
                margin: 5px 0px;
                text-align: center;

            }
        }
    }

    /*Fechas*/
    .home_fechas {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 5% 8%;

        .fechas_contenido {
            margin-top: 5px;
            width: 100%;
            height: 200px;
            padding: 0%;
        }

        .fechas_imagen {
            width: 100%;

            .fechas_imagen_detalle {
                width: 100%;
                object-fit: contain;
            }
        }
    }

    /*Merch*/
    .home_merch {
        padding: 5% 8%;

        .boton {
            font-size: 1.7rem;
        }
    }

    /*Busqueda de nuevos integrantes*/
    .home_busqueda {
        flex-direction: column;
        justify-content: left;
        align-items: start;
        padding: 10% 8%;

        .busqueda_contenido {
            width: 100%;
            padding-right: 0%;
        }

        .busqueda_boton {
            width: 100%;
            padding-top: 2%;
        }
    }

    /*Plataformas y redes*/
    .home_plataformas {
        padding: 5% 8%;

        .home_plataformas_contenido {
            padding: 0px;

            .plataformas_titulo {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                h2 {
                    text-align: left;
                    width: 100%;
                }
            }

            .plataformas_yt {
                @include section_wh (100%, auto);
                padding-top: 4%;
                margin: 0px;

                .yt_iframe {
                    height: 215px;
                }
            }

            .plataformas_3 {
                width: 100%;
                display: flex;
                flex-direction: column;

                .plataformas_sf {
                    @include section_wh (100%, auto);
                    padding: 4% 0% 0% 0%;
                }

                .plataformas_2 {
                    @include section_wh (100%, auto);
                    padding-top: 5%;

                    .plataformas_ig {
                        padding-top: 5%;
                    }

                    .plataformas_tk {
                        padding-top: 5%;
                    }
                }
            }
        }
    }

    /*Página MERCH ------------------------*/
    /*Grilla de productos*/

    .titulo_merch {
        padding: 5% 10% 1% 10%;
    }

    .grilla_de_productos {
        grid-template-columns: 1fr 1fr;
        padding: 2% 4%;

        .card_de_producto {
            margin: 10px;
            padding: 15px;
        }
    }


    /*Información*/

    .merch_informacion {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 150px;

        .informacion {
            width: 100%;
        }
    }

    /*Página Sobre Nosotros ----------------*/
    /*Grilla de integrantes*/

    .integrantes_titulo {
        text-align: center;
        padding: 5% 10% 0% 10%;
    }

    .grilla_de_integrantes {
        width: 100%;
        grid-template-columns: 1fr;
        height: auto;

        .card_integrante {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 20px;

            .integrantes_fotos {
                @include section_wh (100%, 250px);
                object-fit: cover;
                object-position: 50% 20%;
                margin: 0px 0px;
            }

            .integrantes_contenido {
                padding: 0% 0% 6% 0%;
                flex-direction: column;

                .integrantes_p {
                    font-size: 1.5rem;
                }
            }
        }
    }

    /*Historia*/
    .nosotros_historia {

        .historia_titulo {
            padding: 7% 10% 0% 10%;
            text-align: left;
            margin: 0px;
        }

        .nosotros_historia_1 {
            @include section_wh (100%, auto);
            @include flex (column-reverse, space-between, center);

            .contenido_integrantes_1 {
                width: 100%;
                padding: 20px 0px 0px 0px;
            }

            .foto_integrantes_1 {
                width: 100%;

                .foto_integrantes_detalle_1 {
                    width: 100%;
                    border-radius: 4px;
                }
            }
        }

        .nosotros_historia_2 {
            @include section_wh (100%, auto);
            @include flex (column, space-between, center);

            .contenido_integrantes_2 {
                width: 100%;
                padding: 20px 0px 0px 0px;
            }

            .foto_integrantes_2 {
                width: 100%;

                .foto_integrantes_detalle_2 {
                    width: 100%;
                    border-radius: 4px;
                }
            }
        }
    }

    .nosotros_newsletter {
        height: 250px;
        justify-content: space-evenly;
        padding: 6% 6%;

        #mail {
            width: 80%;
            margin-bottom: 20px;
        }
    }

    /*Página Contacto -----------------*/

    /*Formulario de contacto*/
    .contacto_titulo {
        padding: 8% 0%;
    }

    .contacto_profesional {
        @include section ($gris, 100%, auto);
        padding: 4% 10%;
    }

    .formulario_para_unirse {

        .titulo_form {
            padding: 8% 0%;
        }

        div {
            flex-direction: column;
            gap: 10px;
        }

        label {
            font-size: 1.6rem;
        }

        input {
            width: 100%;
            font-size: 1.5rem;
        }

        textarea {
            width: 100%;
            font-size: 1.5rem;
        }

        input[type="submit"] {
            width: 100%;
            text-align: center;
        }

        #forms_pares1 {
            display: grid;
            grid-template-columns: 1fr 8fr;
            justify-content: center;
            align-items: center;
            justify-items: start;
            align-content: center;
        }

        #forms_pares2 {
            display: grid;
            grid-template-columns: 1fr 8fr;
            justify-content: center;
            align-items: center;
            justify-items: start;
            align-content: center;
        }

    }

}


/*Adaptado a tablet 721<1000 -------------------------------------*/

@media (min-width: 791px) and (max-width: 1000px) {

    /*General*/
    body {

        h1 {
            text-align: center;
            font-size: 3.7rem;
        }

        h2 {
            font-size: 2.7rem;
        }

        h3 {
            font-size: 2.3rem;
        }

        p {
            font-size: 1.9rem;
        }

    }

    /*Header*/
    header {
        height: 85px;
        justify-content: center;

        a {
            margin: 0px 0px;

            .logo {
                width: 65px;
                padding: 0px;
                margin: 0px 10px 0px 30px;
            }
        }

        nav {
            @include flex (row, space-around, center);
            width: 100%;

            ul {
                @include flex (row, space-around, center);

                width: 100%;
                margin: 0px;
                padding: 0px;
                text-align: center;

                li {
                    text-align: center;
                    font-weight: 400;

                    a {
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    /*Página index/HOME ----------*/
    /*Presentacion*/
    .home_presentacion {
        padding: 5% 8%;

        .boton {
            margin: 5px 0px;
        }
    }

    /*Nuevo EP*/
    .home_ep {
        grid-template-areas:
            "titulo titulo"
            "imagen subtitulo"
            "imagen texto1"
            "imagen texto2"
            "imagen botones";
        grid-template-columns: 40% 50%;
        grid-template-rows: auto;
        padding: 5% 8%;

        .ep_imagen {
            padding: 0px 0px 0px 0px;
        }

        .ep_subtitulo {
            margin-left: 4%;
        }

        .ep_texto1 {
            margin-left: 4%;
        }

        .ep_texto2 {
            margin-left: 4%;
        }

        .ep_botones {
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: 4%;

            .ep_boton_sf {
                margin: 5px 10px 5px 0px;
                text-align: center;
                font-size: 1.7rem;
            }

            .ep_boton_yt {
                font-size: 1.7rem;
                margin: 5px 0px;
                text-align: center;
            }
        }
    }

    /*Fechas*/
    .home_fechas {
        height: auto;
        padding: 5% 10%;

        .fechas_contenido {
            margin-top: 5px;
            width: 95%;
            height: 300px;
            padding: 0%;
        }

        .fechas_imagen {
            width: 100%;

            .fechas_imagen_detalle {
                width: 100%;
                object-fit: contain;
            }
        }
    }

    /*Merch*/
    .home_merch {
        padding: 5% 10%;

        .boton {
            font-size: 1.7rem;
        }
    }

    /*Busqueda de nuevos integrantes*/
    .home_busqueda {
        @include section ($gris, 100%, auto);
        padding: 4% 8%;
        @include flex (row, center, center);

        .busqueda_contenido {
            width: 70%;
            padding-right: 15%;

            .disclaimer {
                font-size: 1.6rem;
            }
        }

        .busqueda_boton {
            width: 30%;
            margin: 0px;
            text-align: center;
        }
    }

    /*Plataformas y redes*/
    .home_plataformas {
        padding: 5% 8%;

        .home_plataformas_contenido {
            padding: 0px;

            .plataformas_titulo {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                h2 {
                    text-align: left;
                    width: 100%;
                }

                p {
                    text-align: left;
                    padding: 0px;
                    margin: 0px;
                }
            }

            .plataformas_yt {
                @include section_wh (100%, auto);
                padding-top: 4%;
                margin: 0px;

                .yt_iframe {
                    height: 400px;
                }
            }

            .plataformas_3 {
                width: 100%;
                display: flex;
                flex-direction: column;

                .plataformas_sf {
                    @include section_wh (100%, auto);
                    padding: 4% 0% 0% 0%;
                }

                .plataformas_2 {
                    @include section_wh (100%, auto);
                    padding-top: 5%;

                    .plataformas_ig {
                        padding-top: 5%;
                    }

                    .plataformas_tk {
                        padding-top: 5%;
                    }
                }
            }
        }
    }

    /*Página MERCH ------------------------*/
    /*Grilla de productos*/

    .titulo_merch {
        padding: 5% 10% 1% 10%;
    }

    .grilla_de_productos {
        grid-template-columns: 1fr 1fr;
        padding: 2% 4%;

        .card_de_producto {
            margin: 10px;
            padding: 15px;
        }
    }

    /*Página Sobre Nosotros ----------------*/
    /*Grilla de integrantes*/

    .integrantes_titulo {
        text-align: center;
        padding: 5% 10% 0% 10%;


    }

    .grilla_de_integrantes {
        width: 100%;
        grid-template-columns: 1fr;
        height: auto;

        .card_integrante {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 20px;

            .integrantes_fotos {
                @include section_wh (100%, 500px);
                object-fit: cover;
                object-position: 50% 20%;
                margin: 0px 0px;
            }

            .integrantes_contenido {
                padding: 0% 0% 6% 0%;
                flex-direction: column;

                .integrantes_p {
                    font-size: 1.9rem;
                }
            }
        }
    }

    /*Historia*/
    .nosotros_historia {

        .historia_titulo {
            padding: 7% 10% 0% 10%;
            text-align: left;
            margin: 0px;
        }

        .nosotros_historia_1 {
            @include section_wh (100%, auto);
            @include flex (column-reverse, space-between, center);

            .contenido_integrantes_1 {
                width: 100%;
                padding: 20px 0px 0px 0px;
            }

            .foto_integrantes_1 {
                width: 100%;

                .foto_integrantes_detalle_1 {
                    width: 100%;
                    border-radius: 9px;
                }
            }
        }

        .nosotros_historia_2 {
            @include section_wh (100%, auto);
            @include flex (column, space-between, center);

            .contenido_integrantes_2 {
                width: 100%;
                padding: 20px 0px 0px 0px;
            }

            .foto_integrantes_2 {
                width: 100%;

                .foto_integrantes_detalle_2 {
                    width: 100%;
                    border-radius: 9px;
                }
            }
        }
    }

    .nosotros_newsletter {
        height: 350px;
        justify-content: space-evenly;
        padding: 6% 6%;

        #mail {
            width: 80%;
            margin-bottom: 20px;
        }
    }

    /*Página Contacto -----------------*/

    /*Formulario de contacto*/
    .contacto_titulo {
        padding: 8% 0%;
    }

    .contacto_profesional {
        @include section ($gris, 100%, auto);
        padding: 4% 10%;
    }

    .formulario_para_unirse {

        .titulo_form {
            padding: 8% 0%;
        }

        div {
            flex-direction: column;
            gap: 10px;
        }

        label {
            font-size: 1.9rem;
        }

        input {
            width: 100%;
            font-size: 1.8rem;
        }

        textarea {
            width: 100%;
            font-size: 1.8rem;
        }

        input[type="submit"] {
            width: 100%;
            text-align: center;
        }

        #forms_pares1 {
            display: grid;
            grid-template-columns: 1fr 8fr;
            justify-content: center;
            align-items: center;
            justify-items: start;
            align-content: center;
        }

        #forms_pares2 {
            display: grid;
            grid-template-columns: 1fr 8fr;
            justify-content: center;
            align-items: center;
            justify-items: start;
            align-content: center;
        }
    }
}