@charset "UTF-8";
/*Básicos---------------------*/
/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
}

/*Base de todas las páginas----------------------*/
/*Body*/
body {
  font-size: 2rem;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.2;
}
body h1 {
  font-size: 4rem;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  padding: 5px 0;
}
body h2 {
  font-size: 2.8rem;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  padding: 5px 0;
}
body h3 {
  font-size: 2.4rem;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  padding: 5px 0;
}
body h4 {
  font-size: 2.2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  padding: 5px 0;
}
body h5 {
  font-size: 2.1rem;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  padding: 5px 0;
}
body h6 {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  padding: 5px 0;
}
body main a {
  color: #8E1616;
}
body .bordo {
  color: #8E1616;
}

/*Header*/
header {
  background-color: #1F1F1F;
  width: 100%;
  height: 90px;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header a {
  color: #fff;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  margin: 0px 20px;
}
header a .logo {
  width: 70px;
}
header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header nav ul li:hover {
  text-decoration: underline #FBFBFB;
}

/*Footer*/
footer {
  background-color: #1F1F1F;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
}
footer a {
  text-decoration: none;
}
footer p {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  padding: 5px 0;
  color: #fff;
  padding: 0px 20px;
  margin: 0px;
}
footer img {
  height: 20px;
  padding: 0px 5px;
}
footer .iconos_redes {
  margin-right: 15px;
}

/*Elementos------------*/
.boton, .home_ep .ep_botones .ep_boton_sf, .home_ep .ep_botones .ep_boton_yt, .boton_plataformas {
  background-color: #8E1616;
  padding: 5px 20px;
  border-radius: 6px;
  margin: 15px 0px;
  border: solid #832727 2px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.boton:hover, .home_ep .ep_botones .ep_boton_sf:hover, .home_ep .ep_botones .ep_boton_yt:hover, .boton_plataformas:hover {
  background-color: #9f0c0c;
  border: solid #9f0c0c 2px;
}

.boton_plataformas {
  font-size: 1.5rem;
  background-color: #000;
  border: #1F1F1F solid 2px;
}

/*Home/index----------------*/
.home_presentacion {
  background-color: rgba(227, 227, 227, 0.7098039216);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4% 5%;
}
.home_presentacion .centrado {
  text-align: center;
}

/*Nuevo EP*/
.home_ep {
  display: grid;
  grid-template-areas: "imagen titulo" "imagen subtitulo" "imagen texto1" "imagen texto2" "imagen botones";
  grid-template-columns: 40% 50%;
  grid-template-rows: 70px 60px 70px 120px 60px;
  justify-content: center;
  justify-items: start;
  align-items: start;
  background-color: #FBFBFB;
  padding: 4% 8%;
}
.home_ep .ep_imagen {
  width: 100%;
  height: 100%;
  grid-area: imagen;
  display: flex;
  justify-content: start;
  padding-right: 3%;
}
.home_ep .ep_imagen .ep_imagen_detalle {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
}
.home_ep .ep_titulo {
  grid-area: titulo;
}
.home_ep .ep_subtitulo {
  grid-area: subtitulo;
  font-size: 2.1rem;
}
.home_ep .ep_texto1 {
  grid-area: texto1;
  padding-bottom: 15px;
}
.home_ep .ep_texto2 {
  grid-area: texto2;
  padding-bottom: 10px;
}
.home_ep .ep_botones {
  grid-area: botones;
  display: flex;
  width: 100%;
}
.home_ep .ep_botones .ep_boton_sf {
  margin: 5px 15px 0px 0px;
}
.home_ep .ep_botones .ep_boton_yt {
  margin: 5px 0px 0px 0px;
}

/*Fechas*/
.home_fechas {
  background-color: rgba(227, 227, 227, 0.7098039216);
  width: 100%;
  height: auto;
  padding: 4% 8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home_fechas .fechas_contenido {
  width: 40%;
  height: 350px;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.home_fechas .fechas_imagen {
  width: 50%;
}
.home_fechas .fechas_imagen .fechas_imagen_detalle {
  width: 100%;
  object-fit: contain;
}

/*Merch oficial*/
.home_merch {
  background-image: url(../recursos_graficos/banner_merch.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

/*Busqueda de nuevos integrantes*/
.home_busqueda {
  background-color: rgba(227, 227, 227, 0.7098039216);
  width: 100%;
  height: auto;
  padding: 4% 8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home_busqueda .busqueda_contenido {
  width: 60%;
  padding-right: 15%;
}
.home_busqueda .busqueda_contenido .disclaimer {
  font-size: 1.5rem;
  color: #1F1F1F;
  padding: 0px;
}
.home_busqueda .busqueda_boton {
  width: 30%;
}

/*Plataformas y redes*/
.home_plataformas {
  background-color: #FBFBFB;
  width: 100%;
  height: auto;
}
.home_plataformas .home_plataformas_contenido {
  width: 100%;
  padding: 4% 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_plataformas .home_plataformas_contenido .plataformas_titulo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
}
.home_plataformas .home_plataformas_contenido .plataformas_yt {
  width: 90%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 4% 0%;
}
.home_plataformas .home_plataformas_contenido .plataformas_yt .yt_iframe {
  width: 100%;
  height: 500px;
}
.home_plataformas .home_plataformas_contenido .plataformas_3 {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.home_plataformas .home_plataformas_contenido .plataformas_3 .plataformas_sf {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-right: 4%;
}
.home_plataformas .home_plataformas_contenido .plataformas_3 .plataformas_2 {
  width: 40%;
  height: 352px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

/* Página Merch --------------------------------------------------------------------*/
/*Titulo*/
.titulo_merch {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
  text-align: center;
}

/*Grilla de productos*/
.grilla_de_productos {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: auto;
  padding: 1% 15%;
  align-items: center;
}
.grilla_de_productos .card_de_producto {
  background-color: #fff;
  border-radius: 6px;
  margin: 15px;
  padding: 20px;
  box-shadow: 1px 1px 10px -1px rgba(130, 130, 130, 0.79);
  -webkit-box-shadow: 1px 2px 18px -1px rgba(105, 105, 105, 0.79);
  -moz-box-shadow: 1px 2px 18px -1px rgba(107, 107, 107, 0.79);
}
.grilla_de_productos .card_de_producto .card-img-top {
  border-radius: 4px;
  margin-bottom: 5px;
}
.grilla_de_productos .card_de_producto .card-title {
  font-size: 2rem;
}
.grilla_de_productos .card_de_producto .btn {
  background-color: #8E1616;
  font-size: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
}
.grilla_de_productos .card_de_producto .btn:hover {
  background-color: #9f0c0c;
}

.merch_informacion {
  background-color: rgba(227, 227, 227, 0.7098039216);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.merch_informacion .informacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
}
.merch_informacion .informacion .info_imag {
  margin: 15px;
}
.merch_informacion .informacion .info_p {
  padding: 0px;
  margin: 0px;
}

/* Página Sobre Nosotros --------------------------------------------------------------------*/
/*Titulo*/
.nosotros_titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 4% 5%;
}

.nosotros_banner {
  width: 100%;
}

.integrantes_titulo {
  padding: 4% 10% 0% 10%;
  text-align: left;
}

.grilla_de_integrantes {
  width: 100%;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 2% 10%;
}
.grilla_de_integrantes .card_integrante {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 2% 5% 2% 0%;
}
.grilla_de_integrantes .card_integrante .integrantes_fotos {
  width: 250px;
  height: auto;
  object-fit: contain;
  margin: 15px 0px;
  border-radius: 3px;
}
.grilla_de_integrantes .card_integrante .integrantes_contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 10% 5% 2%;
}
.grilla_de_integrantes .card_integrante .integrantes_contenido .integrantes_p {
  font-size: 1.8rem;
}
.grilla_de_integrantes .card_integrante .integrantes_contenido .integrantes_icono {
  width: 25px;
  height: auto;
  object-fit: contain;
}

/*Nuestra Historia*/
.nosotros_historia {
  background-color: rgba(227, 227, 227, 0.7098039216);
  width: 100%;
  height: auto;
  background: rgba(227, 227, 227, 0.7098039216);
  /*Gradiente*/
  background: linear-gradient(180deg, rgb(227, 227, 227) 0%, rgb(251, 251, 251) 78%);
  padding: 2% 10% 4% 10%;
}
.nosotros_historia .historia_titulo {
  padding: 4% 0%;
  text-align: left;
  margin: 0px;
}
.nosotros_historia .nosotros_historia_1, .nosotros_historia .nosotros_historia_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3% 0%;
}
.nosotros_historia .nosotros_historia_1 .contenido_integrantes_1, .nosotros_historia .nosotros_historia_2 .contenido_integrantes_1, .nosotros_historia .nosotros_historia_2 .contenido_integrantes_2 {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4% 6% 4% 0%;
}
.nosotros_historia .nosotros_historia_1 .foto_integrantes_1, .nosotros_historia .nosotros_historia_2 .foto_integrantes_1, .nosotros_historia .nosotros_historia_2 .foto_integrantes_2 {
  width: 50%;
  height: auto;
}
.nosotros_historia .nosotros_historia_1 .foto_integrantes_1 .foto_integrantes_detalle_1, .nosotros_historia .nosotros_historia_2 .foto_integrantes_1 .foto_integrantes_detalle_1, .nosotros_historia .nosotros_historia_2 .foto_integrantes_2 .foto_integrantes_detalle_1, .nosotros_historia .nosotros_historia_2 .foto_integrantes_2 .foto_integrantes_detalle_2 {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}
.nosotros_historia .nosotros_historia_2 .contenido_integrantes_2 {
  padding: 4% 0% 4% 6%;
}
/*Newsletter*/
.nosotros_newsletter {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 4% 10%;
  text-align: center;
}
.nosotros_newsletter #mail {
  width: 40%;
  height: auto;
  margin: 2% 10% 2% 10%;
}

/* Página de Contacto --------------------------------------------------------------------*/
/*Contacto profesional*/
.contacto_titulo {
  padding: 4% 10%;
}

.contacto_profesional {
  background-color: #FBFBFB;
  width: 100%;
  height: auto;
  padding: 2% 10%;
}

/*Formulario*/
.formulario_para_unirse {
  width: 100%;
  height: auto;
  padding: 2% 10%;
}
.formulario_para_unirse h2 {
  padding: 2% 0%;
}
.formulario_para_unirse form {
  background: rgba(227, 227, 227, 0.7098039216);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  border-radius: 6px;
  /* Botón */
}
.formulario_para_unirse form label {
  margin-bottom: 0px;
}
.formulario_para_unirse form input {
  padding: 10px;
  border: 1px solid #b0b0b0;
  border-radius: 6px;
  background: #FBFBFB;
  color: #1F1F1F;
}
.formulario_para_unirse form textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #b0b0b0;
  border-radius: 6px;
  background: #FBFBFB;
  color: #1F1F1F;
  border: 1px solid #a0a0a0;
}
.formulario_para_unirse form div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  margin-top: 10px;
}
.formulario_para_unirse form input[type=submit] {
  background: #8E1616;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  padding: 12px;
  display: inline-block;
  border: solid 2px #832727;
}
.formulario_para_unirse form input[type=submit]:hover {
  background-color: #9f0c0c;
  border: solidc 2px #9f0c0c;
}

/*Adaptado a mobile <480 --------------------------*/
@media (max-width: 480px) {
  /*General*/
  body h1 {
    text-align: center;
    font-size: 3rem;
  }
  body h2 {
    font-size: 2.6rem;
  }
  body h3 {
    font-size: 2.2rem;
  }
  body h4 {
    font-size: 2.1rem;
  }
  body h5 {
    font-size: 2rem;
  }
  body h6 {
    font-size: 1.9rem;
  }
  body p {
    font-size: 1.6rem;
  }
  /*Header*/
  header {
    height: 70px;
    justify-content: center;
  }
  header a {
    font-size: 1.4rem;
    margin: 0px 0px;
  }
  header a .logo {
    width: 45px;
    padding: 0px;
    margin: 0px 15px;
  }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  header nav ul li {
    text-align: center;
    font-weight: 300;
  }
  header nav ul li a {
    white-space: nowrap;
  }
  header nav ul .dis_none {
    display: none;
  }
  /*Página index/HOME ----------*/
  /*Presentacion*/
  .home_presentacion {
    padding: 5% 8%;
  }
  .home_presentacion .boton {
    margin: 5px 0px;
    font-size: 1.8rem;
  }
  /*Nuevo EP*/
  .home_ep {
    grid-template-areas: "imagen" "titulo" "subtitulo" "texto1" "texto2" "botones";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    padding: 5% 8%;
  }
  .home_ep .ep_imagen {
    padding: 0px;
  }
  .home_ep .ep_botones {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .home_ep .ep_botones .ep_boton_sf {
    margin: 5px 0px;
    text-align: center;
    font-size: 1.7rem;
  }
  .home_ep .ep_botones .ep_boton_yt {
    font-size: 1.7rem;
    margin: 5px 0px;
    text-align: center;
  }
  /*Fechas*/
  .home_fechas {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 5% 8%;
  }
  .home_fechas .fechas_contenido {
    margin-top: 5px;
    width: 100%;
    height: 200px;
    padding: 0%;
  }
  .home_fechas .fechas_imagen {
    width: 100%;
  }
  .home_fechas .fechas_imagen .fechas_imagen_detalle {
    width: 100%;
    object-fit: contain;
  }
  /*Merch*/
  .home_merch {
    padding: 5% 8%;
  }
  .home_merch .boton {
    font-size: 1.8rem;
  }
  /*Busqueda de nuevos integrantes*/
  .home_busqueda {
    flex-direction: column;
    justify-content: left;
    align-items: start;
    padding: 10% 8%;
  }
  .home_busqueda .busqueda_contenido {
    width: 100%;
    padding-right: 0%;
  }
  .home_busqueda .busqueda_boton {
    width: 100%;
    padding-top: 2%;
  }
  /*Plataformas y redes*/
  .home_plataformas {
    padding: 5% 8%;
  }
  .home_plataformas .home_plataformas_contenido {
    padding: 0px;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_titulo {
    flex-direction: column;
    justify-content: flex-start;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_titulo h2 {
    text-align: left;
    width: 100%;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_yt {
    width: 100%;
    height: auto;
    padding-top: 4%;
    margin: 0px;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_yt .yt_iframe {
    height: 200px;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_3 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_3 .plataformas_sf {
    width: 100%;
    height: auto;
    padding-top: 4%;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_3 .plataformas_2 {
    width: 100%;
    height: auto;
    padding-top: 5%;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_3 .plataformas_2 .plataformas_ig {
    padding-top: 5%;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_3 .plataformas_2 .plataformas_tk {
    padding-top: 5%;
  }
  /*Página MERCH ------------------------*/
  /*Grilla de productos*/
  .grilla_de_productos {
    grid-template-columns: 1fr;
    padding: 2% 12%;
  }
  /*Información*/
  .merch_informacion {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 150px;
  }
  .merch_informacion .informacion {
    width: 100%;
  }
  /*Página Sobre Nosotros ----------------*/
  /*Grilla de integrantes*/
  .integrantes_titulo {
    text-align: center;
    padding: 5% 10% 0% 10%;
  }
  .grilla_de_integrantes {
    width: 100%;
    grid-template-columns: 1fr;
    height: auto;
  }
  .grilla_de_integrantes .card_integrante {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .grilla_de_integrantes .card_integrante .integrantes_fotos {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 50% 20%;
    margin: 0px 0px;
  }
  .grilla_de_integrantes .card_integrante .integrantes_contenido {
    padding: 0% 0% 6% 0%;
    flex-direction: column;
  }
  .grilla_de_integrantes .card_integrante .integrantes_contenido .integrantes_p {
    font-size: 1.5rem;
  }
  /*Historia*/
  .nosotros_historia .historia_titulo {
    padding: 7% 10% 0% 10%;
    text-align: left;
    margin: 0px;
  }
  .nosotros_historia .nosotros_historia_1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .nosotros_historia .nosotros_historia_1 .contenido_integrantes_1 {
    width: 100%;
    padding: 20px 0px 0px 0px;
  }
  .nosotros_historia .nosotros_historia_1 .foto_integrantes_1 {
    width: 100%;
  }
  .nosotros_historia .nosotros_historia_1 .foto_integrantes_1 .foto_integrantes_detalle_1 {
    width: 100%;
    border-radius: 4px;
  }
  .nosotros_historia .nosotros_historia_2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .nosotros_historia .nosotros_historia_2 .contenido_integrantes_2 {
    width: 100%;
    padding: 20px 0px 0px 0px;
  }
  .nosotros_historia .nosotros_historia_2 .foto_integrantes_2 {
    width: 100%;
  }
  .nosotros_historia .nosotros_historia_2 .foto_integrantes_2 .foto_integrantes_detalle_2 {
    width: 100%;
    border-radius: 4px;
  }
  .nosotros_newsletter {
    height: 250px;
    justify-content: space-evenly;
    padding: 6% 6%;
  }
  .nosotros_newsletter #mail {
    width: 80%;
    margin-bottom: 20px;
  }
  /*Página Contacto -----------------*/
  /*Formulario de contacto*/
  .contacto_titulo {
    padding: 8% 0%;
  }
  .contacto_profesional {
    background-color: rgba(227, 227, 227, 0.7098039216);
    width: 100%;
    height: auto;
    padding: 4% 10%;
  }
  .formulario_para_unirse .titulo_form {
    padding: 8% 0%;
  }
  .formulario_para_unirse div {
    flex-direction: column;
    gap: 10px;
  }
  .formulario_para_unirse label {
    font-size: 1.6rem;
  }
  .formulario_para_unirse input {
    width: 100%;
    font-size: 1.5rem;
  }
  .formulario_para_unirse textarea {
    width: 100%;
    font-size: 1.5rem;
  }
  .formulario_para_unirse input[type=submit] {
    width: 100%;
    text-align: center;
  }
  .formulario_para_unirse #forms_pares1 {
    display: grid;
    grid-template-columns: 1fr 8fr;
    justify-content: center;
    align-items: center;
    justify-items: start;
    align-content: center;
  }
  .formulario_para_unirse #forms_pares2 {
    display: grid;
    grid-template-columns: 1fr 8fr;
    justify-content: center;
    align-items: center;
    justify-items: start;
    align-content: center;
  }
}
/*Adaptado a tablet 481<720 ---------------------------------------*/
@media (min-width: 481px) and (max-width: 790px) {
  /*General*/
  body h1 {
    text-align: center;
    font-size: 3.3rem;
  }
  body h2 {
    font-size: 2.6rem;
  }
  body h3 {
    font-size: 2.2rem;
  }
  body h4 {
    font-size: 2.1rem;
  }
  body h5 {
    font-size: 2rem;
  }
  body h6 {
    font-size: 1.9rem;
  }
  body p {
    font-size: 1.6rem;
  }
  /*Header*/
  header {
    height: 70px;
    justify-content: center;
  }
  header a {
    font-size: 1.8rem;
    margin: 0px 0px;
  }
  header a .logo {
    width: 50px;
    padding: 0px;
    margin: 0px 15px;
  }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  header nav ul li {
    text-align: center;
    font-weight: 300;
  }
  header nav ul li a {
    white-space: nowrap;
  }
  header nav ul .dis_none {
    display: none;
  }
  /*Página index/HOME ----------*/
  /*Presentacion*/
  .home_presentacion {
    padding: 5% 8%;
  }
  .home_presentacion .boton {
    margin: 5px 0px;
    font-size: 1.8rem;
  }
  /*Nuevo EP*/
  .home_ep {
    grid-template-areas: "titulo" "imagen" "subtitulo" "texto1" "texto2" "botones";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    padding: 5% 8%;
  }
  .home_ep .ep_imagen {
    padding: 10px 0px 10px 0px;
  }
  .home_ep .ep_botones {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .home_ep .ep_botones .ep_boton_sf {
    margin: 5px 10px 5px 0px;
    text-align: center;
    font-size: 1.7rem;
  }
  .home_ep .ep_botones .ep_boton_yt {
    font-size: 1.7rem;
    margin: 5px 0px;
    text-align: center;
  }
  /*Fechas*/
  .home_fechas {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 5% 8%;
  }
  .home_fechas .fechas_contenido {
    margin-top: 5px;
    width: 100%;
    height: 200px;
    padding: 0%;
  }
  .home_fechas .fechas_imagen {
    width: 100%;
  }
  .home_fechas .fechas_imagen .fechas_imagen_detalle {
    width: 100%;
    object-fit: contain;
  }
  /*Merch*/
  .home_merch {
    padding: 5% 8%;
  }
  .home_merch .boton {
    font-size: 1.7rem;
  }
  /*Busqueda de nuevos integrantes*/
  .home_busqueda {
    flex-direction: column;
    justify-content: left;
    align-items: start;
    padding: 10% 8%;
  }
  .home_busqueda .busqueda_contenido {
    width: 100%;
    padding-right: 0%;
  }
  .home_busqueda .busqueda_boton {
    width: 100%;
    padding-top: 2%;
  }
  /*Plataformas y redes*/
  .home_plataformas {
    padding: 5% 8%;
  }
  .home_plataformas .home_plataformas_contenido {
    padding: 0px;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_titulo {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_titulo h2 {
    text-align: left;
    width: 100%;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_yt {
    width: 100%;
    height: auto;
    padding-top: 4%;
    margin: 0px;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_yt .yt_iframe {
    height: 215px;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_3 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_3 .plataformas_sf {
    width: 100%;
    height: auto;
    padding: 4% 0% 0% 0%;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_3 .plataformas_2 {
    width: 100%;
    height: auto;
    padding-top: 5%;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_3 .plataformas_2 .plataformas_ig {
    padding-top: 5%;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_3 .plataformas_2 .plataformas_tk {
    padding-top: 5%;
  }
  /*Página MERCH ------------------------*/
  /*Grilla de productos*/
  .titulo_merch {
    padding: 5% 10% 1% 10%;
  }
  .grilla_de_productos {
    grid-template-columns: 1fr 1fr;
    padding: 2% 4%;
  }
  .grilla_de_productos .card_de_producto {
    margin: 10px;
    padding: 15px;
  }
  /*Información*/
  .merch_informacion {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 150px;
  }
  .merch_informacion .informacion {
    width: 100%;
  }
  /*Página Sobre Nosotros ----------------*/
  /*Grilla de integrantes*/
  .integrantes_titulo {
    text-align: center;
    padding: 5% 10% 0% 10%;
  }
  .grilla_de_integrantes {
    width: 100%;
    grid-template-columns: 1fr;
    height: auto;
  }
  .grilla_de_integrantes .card_integrante {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .grilla_de_integrantes .card_integrante .integrantes_fotos {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 50% 20%;
    margin: 0px 0px;
  }
  .grilla_de_integrantes .card_integrante .integrantes_contenido {
    padding: 0% 0% 6% 0%;
    flex-direction: column;
  }
  .grilla_de_integrantes .card_integrante .integrantes_contenido .integrantes_p {
    font-size: 1.5rem;
  }
  /*Historia*/
  .nosotros_historia .historia_titulo {
    padding: 7% 10% 0% 10%;
    text-align: left;
    margin: 0px;
  }
  .nosotros_historia .nosotros_historia_1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .nosotros_historia .nosotros_historia_1 .contenido_integrantes_1 {
    width: 100%;
    padding: 20px 0px 0px 0px;
  }
  .nosotros_historia .nosotros_historia_1 .foto_integrantes_1 {
    width: 100%;
  }
  .nosotros_historia .nosotros_historia_1 .foto_integrantes_1 .foto_integrantes_detalle_1 {
    width: 100%;
    border-radius: 4px;
  }
  .nosotros_historia .nosotros_historia_2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .nosotros_historia .nosotros_historia_2 .contenido_integrantes_2 {
    width: 100%;
    padding: 20px 0px 0px 0px;
  }
  .nosotros_historia .nosotros_historia_2 .foto_integrantes_2 {
    width: 100%;
  }
  .nosotros_historia .nosotros_historia_2 .foto_integrantes_2 .foto_integrantes_detalle_2 {
    width: 100%;
    border-radius: 4px;
  }
  .nosotros_newsletter {
    height: 250px;
    justify-content: space-evenly;
    padding: 6% 6%;
  }
  .nosotros_newsletter #mail {
    width: 80%;
    margin-bottom: 20px;
  }
  /*Página Contacto -----------------*/
  /*Formulario de contacto*/
  .contacto_titulo {
    padding: 8% 0%;
  }
  .contacto_profesional {
    background-color: rgba(227, 227, 227, 0.7098039216);
    width: 100%;
    height: auto;
    padding: 4% 10%;
  }
  .formulario_para_unirse .titulo_form {
    padding: 8% 0%;
  }
  .formulario_para_unirse div {
    flex-direction: column;
    gap: 10px;
  }
  .formulario_para_unirse label {
    font-size: 1.6rem;
  }
  .formulario_para_unirse input {
    width: 100%;
    font-size: 1.5rem;
  }
  .formulario_para_unirse textarea {
    width: 100%;
    font-size: 1.5rem;
  }
  .formulario_para_unirse input[type=submit] {
    width: 100%;
    text-align: center;
  }
  .formulario_para_unirse #forms_pares1 {
    display: grid;
    grid-template-columns: 1fr 8fr;
    justify-content: center;
    align-items: center;
    justify-items: start;
    align-content: center;
  }
  .formulario_para_unirse #forms_pares2 {
    display: grid;
    grid-template-columns: 1fr 8fr;
    justify-content: center;
    align-items: center;
    justify-items: start;
    align-content: center;
  }
}
/*Adaptado a tablet 721<1000 -------------------------------------*/
@media (min-width: 791px) and (max-width: 1000px) {
  /*General*/
  body h1 {
    text-align: center;
    font-size: 3.7rem;
  }
  body h2 {
    font-size: 2.7rem;
  }
  body h3 {
    font-size: 2.3rem;
  }
  body p {
    font-size: 1.9rem;
  }
  /*Header*/
  header {
    height: 85px;
    justify-content: center;
  }
  header a {
    margin: 0px 0px;
  }
  header a .logo {
    width: 65px;
    padding: 0px;
    margin: 0px 10px 0px 30px;
  }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  header nav ul li {
    text-align: center;
    font-weight: 400;
  }
  header nav ul li a {
    white-space: nowrap;
  }
  /*Página index/HOME ----------*/
  /*Presentacion*/
  .home_presentacion {
    padding: 5% 8%;
  }
  .home_presentacion .boton {
    margin: 5px 0px;
  }
  /*Nuevo EP*/
  .home_ep {
    grid-template-areas: "titulo titulo" "imagen subtitulo" "imagen texto1" "imagen texto2" "imagen botones";
    grid-template-columns: 40% 50%;
    grid-template-rows: auto;
    padding: 5% 8%;
  }
  .home_ep .ep_imagen {
    padding: 0px 0px 0px 0px;
  }
  .home_ep .ep_subtitulo {
    margin-left: 4%;
  }
  .home_ep .ep_texto1 {
    margin-left: 4%;
  }
  .home_ep .ep_texto2 {
    margin-left: 4%;
  }
  .home_ep .ep_botones {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 4%;
  }
  .home_ep .ep_botones .ep_boton_sf {
    margin: 5px 10px 5px 0px;
    text-align: center;
    font-size: 1.7rem;
  }
  .home_ep .ep_botones .ep_boton_yt {
    font-size: 1.7rem;
    margin: 5px 0px;
    text-align: center;
  }
  /*Fechas*/
  .home_fechas {
    height: auto;
    padding: 5% 10%;
  }
  .home_fechas .fechas_contenido {
    margin-top: 5px;
    width: 95%;
    height: 300px;
    padding: 0%;
  }
  .home_fechas .fechas_imagen {
    width: 100%;
  }
  .home_fechas .fechas_imagen .fechas_imagen_detalle {
    width: 100%;
    object-fit: contain;
  }
  /*Merch*/
  .home_merch {
    padding: 5% 10%;
  }
  .home_merch .boton {
    font-size: 1.7rem;
  }
  /*Busqueda de nuevos integrantes*/
  .home_busqueda {
    background-color: rgba(227, 227, 227, 0.7098039216);
    width: 100%;
    height: auto;
    padding: 4% 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .home_busqueda .busqueda_contenido {
    width: 70%;
    padding-right: 15%;
  }
  .home_busqueda .busqueda_contenido .disclaimer {
    font-size: 1.6rem;
  }
  .home_busqueda .busqueda_boton {
    width: 30%;
    margin: 0px;
    text-align: center;
  }
  /*Plataformas y redes*/
  .home_plataformas {
    padding: 5% 8%;
  }
  .home_plataformas .home_plataformas_contenido {
    padding: 0px;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_titulo {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_titulo h2 {
    text-align: left;
    width: 100%;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_titulo p {
    text-align: left;
    padding: 0px;
    margin: 0px;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_yt {
    width: 100%;
    height: auto;
    padding-top: 4%;
    margin: 0px;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_yt .yt_iframe {
    height: 400px;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_3 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_3 .plataformas_sf {
    width: 100%;
    height: auto;
    padding: 4% 0% 0% 0%;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_3 .plataformas_2 {
    width: 100%;
    height: auto;
    padding-top: 5%;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_3 .plataformas_2 .plataformas_ig {
    padding-top: 5%;
  }
  .home_plataformas .home_plataformas_contenido .plataformas_3 .plataformas_2 .plataformas_tk {
    padding-top: 5%;
  }
  /*Página MERCH ------------------------*/
  /*Grilla de productos*/
  .titulo_merch {
    padding: 5% 10% 1% 10%;
  }
  .grilla_de_productos {
    grid-template-columns: 1fr 1fr;
    padding: 2% 4%;
  }
  .grilla_de_productos .card_de_producto {
    margin: 10px;
    padding: 15px;
  }
  /*Página Sobre Nosotros ----------------*/
  /*Grilla de integrantes*/
  .integrantes_titulo {
    text-align: center;
    padding: 5% 10% 0% 10%;
  }
  .grilla_de_integrantes {
    width: 100%;
    grid-template-columns: 1fr;
    height: auto;
  }
  .grilla_de_integrantes .card_integrante {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .grilla_de_integrantes .card_integrante .integrantes_fotos {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 50% 20%;
    margin: 0px 0px;
  }
  .grilla_de_integrantes .card_integrante .integrantes_contenido {
    padding: 0% 0% 6% 0%;
    flex-direction: column;
  }
  .grilla_de_integrantes .card_integrante .integrantes_contenido .integrantes_p {
    font-size: 1.9rem;
  }
  /*Historia*/
  .nosotros_historia .historia_titulo {
    padding: 7% 10% 0% 10%;
    text-align: left;
    margin: 0px;
  }
  .nosotros_historia .nosotros_historia_1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .nosotros_historia .nosotros_historia_1 .contenido_integrantes_1 {
    width: 100%;
    padding: 20px 0px 0px 0px;
  }
  .nosotros_historia .nosotros_historia_1 .foto_integrantes_1 {
    width: 100%;
  }
  .nosotros_historia .nosotros_historia_1 .foto_integrantes_1 .foto_integrantes_detalle_1 {
    width: 100%;
    border-radius: 9px;
  }
  .nosotros_historia .nosotros_historia_2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .nosotros_historia .nosotros_historia_2 .contenido_integrantes_2 {
    width: 100%;
    padding: 20px 0px 0px 0px;
  }
  .nosotros_historia .nosotros_historia_2 .foto_integrantes_2 {
    width: 100%;
  }
  .nosotros_historia .nosotros_historia_2 .foto_integrantes_2 .foto_integrantes_detalle_2 {
    width: 100%;
    border-radius: 9px;
  }
  .nosotros_newsletter {
    height: 350px;
    justify-content: space-evenly;
    padding: 6% 6%;
  }
  .nosotros_newsletter #mail {
    width: 80%;
    margin-bottom: 20px;
  }
  /*Página Contacto -----------------*/
  /*Formulario de contacto*/
  .contacto_titulo {
    padding: 8% 0%;
  }
  .contacto_profesional {
    background-color: rgba(227, 227, 227, 0.7098039216);
    width: 100%;
    height: auto;
    padding: 4% 10%;
  }
  .formulario_para_unirse .titulo_form {
    padding: 8% 0%;
  }
  .formulario_para_unirse div {
    flex-direction: column;
    gap: 10px;
  }
  .formulario_para_unirse label {
    font-size: 1.9rem;
  }
  .formulario_para_unirse input {
    width: 100%;
    font-size: 1.8rem;
  }
  .formulario_para_unirse textarea {
    width: 100%;
    font-size: 1.8rem;
  }
  .formulario_para_unirse input[type=submit] {
    width: 100%;
    text-align: center;
  }
  .formulario_para_unirse #forms_pares1 {
    display: grid;
    grid-template-columns: 1fr 8fr;
    justify-content: center;
    align-items: center;
    justify-items: start;
    align-content: center;
  }
  .formulario_para_unirse #forms_pares2 {
    display: grid;
    grid-template-columns: 1fr 8fr;
    justify-content: center;
    align-items: center;
    justify-items: start;
    align-content: center;
  }
}

/*# sourceMappingURL=estilos.css.map */
