/* Notas----------------------------------------------------------

    font-family: "Oswald", sans-serif;
    font-family: "Roboto Condensed", sans-serif;

    1rem = 10px

 ---------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}

:root {
    /*Paleta de colores*/
    --bordo: #8E1616;
    --cremita: #E9CA9B;
    --negro: #1F1F1F;
    --blanco: #FBFBFB;
    --gris: #e3e3e3b5;
}

/* Textos en general-------------------------------------------*/

body {
    font-size: 2rem;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 1.2;

}

h1 {
    font-size: 4rem;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    padding: 5px 0px;

}

h2 {
    font-size: 2.8rem;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    padding: 5px 0px;
}

h3 {
    font-size: 2.4rem;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    padding: 5px 0px;
}

h4 {
    font-size: 2.1rem;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    padding: 5px 0px;
}

main a {
    color: var(--bordo);
}

.bordo {
    color: var(--bordo);
}

/* Header ------------------------------------------------------*/

header {
    /*Estructura*/
    background-color: var(--negro);
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 1000;
    /*Contenido: [a] & [nav]*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width: 70px;
}

header a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    margin: 0px 20px
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


/* Footer -------------------------------------------------------*/

footer {
    /*Estructura*/
    background-color: var(--negro);
    width: 100%;
    height: 60px;
    /*Contenido: [section] & [section .iconos_redes]*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0px;
}

footer a {
    text-decoration: none;
}

footer p {
    color: var(--blanco);
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    padding: 0px 20px;
    margin: 0px;
}

footer img {
    height: 20px;
    padding: 0px 5px;
}

.iconos_redes {
    margin-right: 15px;
}


/* Index/Home -------------------------------------------------*/

/*Presentación*/

.home_presentacion {
    /*Estructura*/
    width: 100%;
    background-color: var(--gris);
    padding: 4% 5%;
    /*Contenido*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centrado {
    text-align: center;
}

.boton {
    background-color: var(--bordo);
    color: var(--blanco);
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 6px;
    margin: 15px 0px;
    border: solid #832727 2px;
    display: inline-block;
}

.boton:hover {
    background-color: #9f0c0c;
    border: solid #9f0c0c 2px;
}


/*Nuevo EP*/

.home_ep {
    display: grid;
    grid-template-areas:
        "imagen titulo"
        "imagen subtitulo"
        "imagen texto1"
        "imagen texto2"
        "imagen botones";
    grid-template-columns: 40% 50%;
    grid-template-rows: 70px 60px 70px 120px 60px;
    justify-content: center;
    justify-items: start;
    align-items: start;
    background-color: var(--blanco);
    padding: 4% 8%;
}

.ep_imagen {
    width: 100%;
    height: 100%;
    grid-area: imagen;
    display: flex;
    justify-content: start;
    padding-right: 3%;
}

.ep_imagen_detalle {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
}

.ep_titulo {
    grid-area: titulo;
}

.ep_subtitulo {
    grid-area: subtitulo;
    font-size: 2.1rem;
}

.ep_texto1 {
    grid-area: texto1;
    padding-bottom: 15px;
}

.ep_texto2 {
    grid-area: texto2;
    padding-bottom: 10px;

}

.ep_botones {
    grid-area: botones;
    display: flex;
    width: 100%;
}

.ep_boton_sf {
    margin: 5px 15px 0px 0px;
}

.ep_boton_yt {
    margin: 5px 0px 0px 0px;
}

/*Fechas*/

.home_fechas {
    /*Estructura*/
    width: 100%;
    height: auto;
    background-color: var(--gris);
    padding: 4% 8%;
    /*Contenido*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fechas_contenido {
    width: 40%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 2%;
}

.fechas_imagen {
    width: 50%;
}

.fechas_imagen_detalle {
    width: 100%;
    object-fit: contain;
}


/*Merch oficial*/

.home_merch {
    /*Fondo*/
    background-image: url(../recursos_graficos/banner_merch.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 450px;
    /*Contenido*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--blanco);
}


/*Busqueda de nuevos integrantes*/

.home_busqueda {
    background-color: var(--gris);
    padding: 4% 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.busqueda_contenido {
    width: 60%;
    padding-right: 15%;
}

.busqueda_boton {
    width: 30%;
}

.disclaimer {
    font-size: 1.5rem;
    color: #1F1F1F;
    padding: 0px;
}


/*Plataformas y redes*/

.home_plataformas {
    background-color: var(--blanco);
    width: 100%;
}

.home_plataformas_contenido {
    width: 100%;
    padding: 4% 8%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.plataformas_titulo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}

.plataformas_yt {
    width: 90%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 4% 0%;
}

.yt_iframe {
    width: 100%;
    height: 500px;
}

.boton_plataformas {
    font-size: 1.5rem;
    background-color: var(--negro);
    border: #1F1F1F solid 2px;
}

.plataformas_3 {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}


.plataformas_sf {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-right: 4%;
}

.plataformas_2 {
    width: 40%;
    height: 352px;
    /*Igual que el iframe de sf*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}






/* Página Merch --------------------------------------------------------------------*/

/*Titulo*/

.titulo_merch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5% 10%;
    text-align: center;
}

/*Grilla de productos*/

.grilla_de_productos {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 1% 15%;
    align-items: center;
}

.card_de_producto {
    background-color: var(--blanco);
    border-radius: 6px;
    margin: 15px;
    padding: 20px;
    box-shadow: 1px 1px 10px -1px rgba(130, 130, 130, 0.79);
    -webkit-box-shadow: 1px 2px 18px -1px rgba(105, 105, 105, 0.79);
    -moz-box-shadow: 1px 2px 18px -1px rgba(107, 107, 107, 0.79);
}

.card-img-top {
    border-radius: 4px;
    margin-bottom: 5px;

}

.card-title {
    font-size: 2rem;
}

.btn {
    background-color: var(--bordo);
    font-size: 1.5rem;
    font-family: "Roboto Condensed", sans-serif;
}

.btn:hover {
    background-color: #9f0c0c;
}


/*Información*/

.merch_informacion {
    background-color: var(--gris);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
}

.informacion {
    display: flex;
    width: 30%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info_imag {
    margin: 15px;
}

.info_p {
    padding: 0px;
    margin: 0px;
}


/* Página Sobre Nosotros --------------------------------------------------------------------*/

/*Titulo*/

.nosotros_titulo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4% 5%;
}

.nosotros_banner {
    width: 100%;
}


/*Card de integrantes*/

.integrantes_titulo {
    padding: 4% 10% 0% 10%;
    text-align: left;
}

.integrantes_fotos {
    width: 250px;
    height: auto;
    object-fit: contain;
    margin: 15px 0px;
    border-radius: 3px;
}

.integrantes_icono {
    width: 25px;
    height: auto;
    object-fit: contain;
}

.grilla_de_integrantes {
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 2% 10%;
}

.card_integrante {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 2% 5% 2% 0%;
}

.integrantes_contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 10% 5% 2%;
}

.integrantes_p {
    font-size: 1.8rem;
}


/*Historia*/

.historia_titulo {
    background-color: var(--gris);
    padding: 4% 10% 0% 10%;
    text-align: left;
    margin: 0px;
}

.nosotros_historia {
    width: 100%;
    height: 400px;
    padding: 2% 10% 4% 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--gris);
}

.contenido_integrantes {
    width: 50%;
    height: 300px;
    padding: 2% 6% 2% 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foto_integrantes {
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foto_integrantes_detalle {
    width: 100%;
    height: auto;
    object-fit: contain;
}


/*Newsletter*/

.nosotros_newsletter {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 4% 10%;
    text-align: center;
}

#mail {
    width: 40%;
    height: auto;
    margin: 2% 10% 2% 10%;
}

/* Página de Contacto --------------------------------------------------------------------*/

/*Contacto profesional*/
.contacto_titulo {
    padding: 4% 10%;
}

.contacto_profesional {
    padding: 2% 10%;
    background: var(--blanco);
    height: auto;
    width: 100%;
}

/*Formulario*/

.formulario_para_unirse {
    width: 100%;
    height: auto;
    padding: 2% 10%;
}

.formulario_para_unirse h2 {
    padding: 2% 0%;
}

.formulario_para_unirse form {
    background: var(--gris);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    border-radius: 6px;
}

.formulario_para_unirse label {
    margin-bottom: 0px;
}

.formulario_para_unirse input {
    padding: 10px;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 6px;
    background: var(--blanco);
    color: var(--negro);
}

.formulario_para_unirse textarea {
    padding: 10px;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 6px;
    background: var(--blanco);
    color: var(--negro);
}

textarea {
    height: 100px;
    width: 100%;
}

.formulario_para_unirse div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin-top: 10px;
}

/* Botón */
input[type="submit"] {
    background: var(--bordo);
    color: var(--blanco);
    text-decoration: none;
    border-radius: 6px;
    padding: 12px;
    display: inline-block;
    border: solid #832727 2px;
}

input[type="submit"]:hover {
    background-color: #9f0c0c;
    border: solid #9f0c0c 2px;
}



/* RESPONSIVE ---------------------------------------------------------------------------------------------*/




@media (max-width: 768px) {

    /*General*/
    h1 {
        text-align: center;
    }

    p {
        font-size: 1.8rem;
    }

    /*Header*/
    header {
        height: 70px;
        justify-content: space-evenly;
    }

    .logo {
        width: 50px;
        padding: 5px 5px;
    }

    header a {
        font-size: 1.4rem;
        margin: 0px 18px;
    }

    nav ul {
        width: 100%;
        margin: 0px;
        padding: 0px 0px;
    }

    .dis_none {
        display: none;
    }


    /*Página index/HOME ----------*/
    /*Presentacion*/
    .home_presentacion {
        padding: 5% 8%;
    }

    .boton {
        margin: 5px 0px;
    }


    /*Nuevo EP*/
    .home_ep {
        grid-template-areas:
            "imagen"
            "titulo"
            "subtitulo"
            "texto1"
            "texto2"
            "botones";
        grid-template-columns: 100%;
        grid-template-rows: auto;
        padding: 5% 8%;
    }

    .ep_imagen {
        padding: 0px;
    }


    /*Fechas*/
    .home_fechas {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 5% 8%;
    }

    .fechas_contenido {
        width: 100%;
        height: 200px;
        padding: 0%;
    }

    .fechas_imagen {
        width: 100%;
    }

    .fechas_imagen_detalle {
        width: 100%;
        object-fit: contain;
    }


    /*Merch*/
    .home_merch {
        padding: 5% 8%;
    }


    /*Busqueda de nuevos integrantes*/
    .home_busqueda {
        flex-direction: column;
        justify-content: left;
        align-items: start;
        padding: 10% 8%;
    }

    .busqueda_contenido {
        width: 100%;
        padding-right: 0%;
    }

    .busqueda_boton {
        width: 100%;
        padding-top: 2%;
    }


    /*Plataformas y redes*/

    .plataformas_yt {
        width: 100%;
        height: 350px;
    }

    .yt_iframe {
        height: 200px;
    }

    .plataformas_3 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .plataformas_sf {
        width: 100%;
    }

    .plataformas_2 {
        width: 100%;
        padding: 4% 0%;
        height: 320px;
    }

    /*Página MERCH ----------*/
    /*Grilla de productos*/
    .grilla_de_productos {
        grid-template-columns: 1fr;
        padding: 2% 12%;
    }

    /*Información*/

    .merch_informacion {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 150px;
    }

    .informacion {
        width: 100%;
    }

    /*Página Sobre Nosotros ----------*/
    /*Grilla de integrantes*/

    .integrantes_titulo {
        text-align: center;
        padding: 5% 10% 0% 10%;

    }

    .grilla_de_integrantes {
        width: 100%;
        grid-template-columns: 1fr;
        height: auto;
    }

    .card_integrante {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 0% 0% 0% 0%;
    }

    .integrantes_fotos {
        width: 100%;
        object-fit: cover;
        margin: 0px 0px;
    }

    .integrantes_contenido {
        padding: 0% 0% 6% 0%;
        flex-direction: column;
    }

    .integrantes_p {
        font-size: 1.5rem;
    }


    .historia_titulo {
        padding: 7% 10% 0% 10%;
        text-align: left;
        margin: 0px;
    }

    .nosotros_historia {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
    }

    .contenido_integrantes {
        width: 100%;
        padding-right: 0px;
    }

    .foto_integrantes {
        width: 100%;
    }

    .colum_reverse {
        flex-direction: column;
        padding-bottom: 20%;
    }

    /*Formulario de contacto*/
    .formulario_para_unirse div {
        flex-direction: column;
        gap: 10px;
    }

    .formulario_para_unirse input {
        width: 100%;
    }

    .formulario_para_unirse textarea {
        width: 100%;
    }

    input[type="submit"] {
        width: 100%;
        text-align: center;
    }

    #forms_pares1 {
        display: grid;
        grid-template-columns: 1fr 4fr;
        justify-content: center;
        align-items: center;
        justify-items: start;
        align-content: center;
    }

    #forms_pares2 {
        display: grid;
        grid-template-columns: 1fr 4fr;
        justify-content: center;
        align-items: center;
        justify-items: start;
        align-content: center;
    }


}